.item-card {
    padding: 5px;
    text-align: center;
    max-width: 330px;
    max-height: 400px;
}

.item-card-img {
    width: 330px;
    height: 330px;
    object-fit: cover;
}

.item-card-description {
    font-family: "Inter", "safari";
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    align-items: flex-start; /* Align text to the left */
    margin-top: 7px;
}

.item-card-description p {
    margin: 0;
    padding: 2px 0;
}

/* Flex container for name and time */
.item-card-title-container {
    display: flex;
    justify-content: space-between; /* Push name left and time right */
    width: 100%;
}

/* Style for product name */
.item-card-name {
    font-size: 16px;
    font-weight: bold;
}

/* Style for time ("2 Days") */
.item-card-time {
    font-size: 14px;
    color: #B4BABC; /* Grey color */
}

/* Ensure Current Bid appears on the next line */
.item-card-price {
    font-size: 14px;
    color: #333;
}
.grey-text {
    color: #B4BABC;
}