

.btns-container {
    display: flex;
    max-width: 250px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 75px;

}
.toggle-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 25px;
    font-size: 15px;
    padding: 10px;
}

.btn-inactive {
    background-color: grey;
}

.btn-active {
    color: white;
}

.listing-section {
    font-family: "Open Sans", serif;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing, .bid-record {

}

.bid-record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin: 10px;
}

.bid-record p {
    margin: 5px;
}

.listing img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.listing {
    display: flex;
    width: 600px;
    margin: 50px auto;
    font-family: "Inter", sans-serif;
    background-color: #DEDEDE;
    border-radius: 25px;
    transition: transform 1s, background-color 1s;
    height: 250px;
  }
  
.listing:hover {
    transform: translate(50px);
    background-color: rgb(195, 192, 192);
}
  
  .information {
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .item-name {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #232e60;
  }

  .listing .item-description {
    margin-top: 40px;
    width: 90%;
    overflow: hidden;
  }

  .listing .highest-bid {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .listing .time-left {
    position: absolute;
    top: 27px;
    right: 20px;
    font-family: "Kiwi Maru", serif;

  }

/* 
  .city {
    font-family: "Kiwi Maru", serif;
  }
  
  .dates {
    color: #232e60;
  }
  
  .description {
    font-size: 1.2rem;
  } */


