.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    color: white;
    margin-bottom: 50px;
    font-family: "Open Sans", serif;
    background: linear-gradient(135deg, #1a237e, #0d47a1); /* Themed blue */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;

}

#navbar-logo {
  width: 120px;
}
  
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-right: 75px;

}
  
.navbar li {
    padding: 7px;
}
.navbar a {
    text-decoration: none;
    color: white;
}

  
.navbar a.active-link {
    font-weight: bold;
    position: relative;
}

.navbar a.active-link::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -4px;
    left: 0px;
    background-color: white;
    
}

.navbar li:hover {
    color: #f8d210; /* Gold hover effect */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.navbar a:hover {
    color: #f8d210;
}

.logout-icon {
    width: 25px; /* Make the icon a bit smaller */
    height: 25px;
    filter: invert(1); /* Change color to white */
    vertical-align: middle; /* Align vertically with other items */
    transition: filter 0.3s ease; /* Add transition for hover effect */
}

.logout-icon:hover {
    filter: invert(0.8) sepia(1) saturate(5) hue-rotate(45deg) brightness(1.2); /* Consistent gold hover effect */
}

.navbar-brand {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    color: white;
}